In [5]:
import numpy as np
import pandas as pd

from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
hotel1=pd.read_csv("H1.csv")
hotel2=pd.read_csv("H2.csv")

In [7]:
hotel1['Hotel']= 'Resort Hotel'
hotel2['Hotel']= 'City Hotel'

In [8]:
hotel = pd.concat([hotel1,hotel2])

In [9]:
hotel['ArrivalDateYear'] = hotel['ArrivalDateYear'].astype(str)

In [10]:
hotel['ArrivalDateDayOfMonth'] = hotel['ArrivalDateDayOfMonth'].astype(str)

In [11]:
#Add new column ArrivalDate 
hotel['ArrivalDate'] = hotel[['ArrivalDateYear', 'ArrivalDateMonth']].agg('-'.join, axis=1)

In [12]:
hotel = hotel[['Hotel','IsCanceled',
 'LeadTime',
 'ArrivalDate',
 'ArrivalDateYear',
 'ArrivalDateMonth',
 'ArrivalDateWeekNumber',
 'ArrivalDateDayOfMonth',
 'StaysInWeekendNights',
 'StaysInWeekNights',
 'Adults',
 'Children',
 'Babies',
 'Meal',
 'Country',
 'MarketSegment',
 'DistributionChannel',
 'IsRepeatedGuest',
 'PreviousCancellations',
 'PreviousBookingsNotCanceled',
 'ReservedRoomType',
 'AssignedRoomType',
 'BookingChanges',
 'DepositType',
 'Agent',
 'Company',
 'DaysInWaitingList',
 'CustomerType',
 'ADR',
 'RequiredCarParkingSpaces',
 'TotalOfSpecialRequests',
 'ReservationStatus',
 'ReservationStatusDate']]

In [13]:
hotel.head()

,Hotel,IsCanceled,LeadTime,ArrivalDate,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,Resort Hotel,0,342,2015-July,2015,July,27,1,0,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-July,2015,July,27,1,0,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-July,2015,July,27,1,0,1,...,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-July,2015,July,27,1,0,1,...,No Deposit,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-July,2015,July,27,1,0,2,...,No Deposit,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [14]:
hotel.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
Int64Index: 119390 entries, 0 to 79329
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Hotel                        119390 non-null  object
 1   IsCanceled                   119390 non-null  int64
 2   LeadTime                     119390 non-null  int64
 3   ArrivalDate                  119390 non-null  object
 4   ArrivalDateYear              119390 non-null  object
 5   ArrivalDateMonth             119390 non-null  object
 6   ArrivalDateWeekNumber        119390 non-null  int64
 7   ArrivalDateDayOfMonth        119390 non-null  object
 8   StaysInWeekendNights         119390 non-null  int64
 9   StaysInWeekNights            119390 non-null  int64
 10  Adults                       119390 non-null  int64
 11  Children                     119386 non-null  float64
 12  Babies                       119390 non-null  int64
 13  Meal                         119390 non-null  object
 14  Country                      118902 non-null  object
 15  MarketSegment                119390 non-null  object
 16  DistributionChannel          119390 non-null  object
 17  IsRepeatedGuest              119390 non-null  int64
 18  PreviousCancellations        119390 non-null  int64
 19  PreviousBookingsNotCanceled  119390 non-null  int64
 20  ReservedRoomType             119390 non-null  object
 21  AssignedRoomType             119390 non-null  object
 22  BookingChanges               119390 non-null  int64
 23  DepositType                  119390 non-null  object
 24  Agent                        119390 non-null  object
 25  Company                      119390 non-null  object
 26  DaysInWaitingList            119390 non-null  int64
 27  CustomerType                 119390 non-null  object
 28  ADR                          119390 non-null  float64
 29  RequiredCarParkingSpaces     119390 non-null  int64
 30  TotalOfSpecialRequests       119390 non-null  int64
 31  ReservationStatus            119390 non-null  object
 32  ReservationStatusDate        119390 non-null  object
dtypes: float64(2), int64(14), object(17)
memory usage: 31.0+ MB

In [15]:
#Clearing the spaces 
hotel['Agent'] = hotel['Agent'].str.strip()
hotel['Company'] = hotel['Company'].str.strip()
hotel['ReservedRoomType'] = hotel['ReservedRoomType'].str.strip()
hotel['AssignedRoomType'] = hotel['AssignedRoomType'].str.strip()

In [16]:
#Imputing missing values
print(hotel['Agent'].isin(['NULL']).sum())

16340

In [17]:
#Agent

In [18]:
hotel['Agent']=hotel['Agent'].replace('NULL','0')

In [19]:
#Country

In [20]:
hotel.Country.isna().sum()

488

In [21]:
hotel.Country.fillna('Unknown', inplace=True)

In [22]:
hotel.Country.isna().sum()

0

In [23]:
#Children

In [24]:
hotel.Children.fillna(0.0, inplace=True)

In [25]:
#Company

In [26]:
hotel['Company'].isin(['NULL']).sum()

112593

In [27]:
hotel['Company']=hotel['Company'].replace('NULL','000')

In [28]:
#adr

In [29]:
hotel['ADR']=hotel['ADR'].replace(0.0, np.nan)

In [30]:
hotel['ADR'].isna().sum()

1959

In [31]:
hotel['ADR'].fillna(hotel['ADR'].mean(),inplace=True)

In [32]:
hotel.to_csv("hotel_for_EDA.csv",index=False)

In [33]:
#Encoding with get_dummies

In [34]:
dummy = pd.get_dummies(hotel[['Hotel','Meal','MarketSegment','DistributionChannel','DepositType',
                              'CustomerType']])

In [35]:
hotel_encoded = pd.concat([hotel,dummy], axis=1)

In [36]:
hotel_encoded.drop(['Hotel','Meal','MarketSegment','DistributionChannel','DepositType',
                              'CustomerType'], axis=1,inplace=True)

In [37]:
hotel_encoded.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
Int64Index: 119390 entries, 0 to 79329
Data columns (total 54 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   IsCanceled                     119390 non-null  int64
 1   LeadTime                       119390 non-null  int64
 2   ArrivalDate                    119390 non-null  object
 3   ArrivalDateYear                119390 non-null  object
 4   ArrivalDateMonth               119390 non-null  object
 5   ArrivalDateWeekNumber          119390 non-null  int64
 6   ArrivalDateDayOfMonth          119390 non-null  object
 7   StaysInWeekendNights           119390 non-null  int64
 8   StaysInWeekNights              119390 non-null  int64
 9   Adults                         119390 non-null  int64
 10  Children                       119390 non-null  float64
 11  Babies                         119390 non-null  int64
 12  Country                        119390 non-null  object
 13  IsRepeatedGuest                119390 non-null  int64
 14  PreviousCancellations          119390 non-null  int64
 15  PreviousBookingsNotCanceled    119390 non-null  int64
 16  ReservedRoomType               119390 non-null  object
 17  AssignedRoomType               119390 non-null  object
 18  BookingChanges                 119390 non-null  int64
 19  Agent                          119390 non-null  object
 20  Company                        119390 non-null  object
 21  DaysInWaitingList              119390 non-null  int64
 22  ADR                            119390 non-null  float64
 23  RequiredCarParkingSpaces       119390 non-null  int64
 24  TotalOfSpecialRequests         119390 non-null  int64
 25  ReservationStatus              119390 non-null  object
 26  ReservationStatusDate          119390 non-null  object
 27  Hotel_City Hotel               119390 non-null  uint8
 28  Hotel_Resort Hotel             119390 non-null  uint8
 29  Meal_BB                        119390 non-null  uint8
 30  Meal_FB                        119390 non-null  uint8
 31  Meal_HB                        119390 non-null  uint8
 32  Meal_SC                        119390 non-null  uint8
 33  Meal_Undefined                 119390 non-null  uint8
 34  MarketSegment_Aviation         119390 non-null  uint8
 35  MarketSegment_Complementary    119390 non-null  uint8
 36  MarketSegment_Corporate        119390 non-null  uint8
 37  MarketSegment_Direct           119390 non-null  uint8
 38  MarketSegment_Groups           119390 non-null  uint8
 39  MarketSegment_Offline TA/TO    119390 non-null  uint8
 40  MarketSegment_Online TA        119390 non-null  uint8
 41  MarketSegment_Undefined        119390 non-null  uint8
 42  DistributionChannel_Corporate  119390 non-null  uint8
 43  DistributionChannel_Direct     119390 non-null  uint8
 44  DistributionChannel_GDS        119390 non-null  uint8
 45  DistributionChannel_TA/TO      119390 non-null  uint8
 46  DistributionChannel_Undefined  119390 non-null  uint8
 47  DepositType_No Deposit         119390 non-null  uint8
 48  DepositType_Non Refund         119390 non-null  uint8
 49  DepositType_Refundable         119390 non-null  uint8
 50  CustomerType_Contract          119390 non-null  uint8
 51  CustomerType_Group             119390 non-null  uint8
 52  CustomerType_Transient         119390 non-null  uint8
 53  CustomerType_Transient-Party   119390 non-null  uint8
dtypes: float64(2), int64(14), object(11), uint8(27)
memory usage: 28.6+ MB

In [38]:
#Encoding with ordinal_encoder

In [39]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()

In [40]:
#Agent

In [41]:
hotel_encoded['Agent'] = enc.fit_transform(hotel_encoded[['Agent']])

In [42]:
#Company

In [43]:
hotel_encoded['Company'] =  enc.fit_transform(hotel_encoded[['Company']])

In [44]:
#Country

In [45]:
hotel_encoded['Country']=enc.fit_transform(hotel_encoded[['Country']])

In [46]:
#Mapping

In [47]:
months = {'January': 0,'February':1, 'March':2,'April':3,'May':4,'June':5,'July':6,
         'August':7,'September':8,'October':9,'November':10, 'December':11}
rooms = {'A':0,'B':1,'C':2,'D':3,'E':4,'F':5,'G':6,'H':7,'I':8,'K':9,'L':10,'P':11}

In [48]:
hotel_encoded['ArrivalDateMonth'] = hotel_encoded[['ArrivalDateMonth']].applymap(lambda x: months[x])

In [49]:
hotel_encoded['ReservedRoomType'] = hotel_encoded[['ReservedRoomType']].applymap(lambda x: rooms[x])
hotel_encoded['AssignedRoomType'] = hotel_encoded[['AssignedRoomType']].applymap(lambda x: rooms[x])

In [50]:
hotel_encoded.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
Int64Index: 119390 entries, 0 to 79329
Data columns (total 54 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   IsCanceled                     119390 non-null  int64
 1   LeadTime                       119390 non-null  int64
 2   ArrivalDate                    119390 non-null  object
 3   ArrivalDateYear                119390 non-null  object
 4   ArrivalDateMonth               119390 non-null  int64
 5   ArrivalDateWeekNumber          119390 non-null  int64
 6   ArrivalDateDayOfMonth          119390 non-null  object
 7   StaysInWeekendNights           119390 non-null  int64
 8   StaysInWeekNights              119390 non-null  int64
 9   Adults                         119390 non-null  int64
 10  Children                       119390 non-null  float64
 11  Babies                         119390 non-null  int64
 12  Country                        119390 non-null  float64
 13  IsRepeatedGuest                119390 non-null  int64
 14  PreviousCancellations          119390 non-null  int64
 15  PreviousBookingsNotCanceled    119390 non-null  int64
 16  ReservedRoomType               119390 non-null  int64
 17  AssignedRoomType               119390 non-null  int64
 18  BookingChanges                 119390 non-null  int64
 19  Agent                          119390 non-null  float64
 20  Company                        119390 non-null  float64
 21  DaysInWaitingList              119390 non-null  int64
 22  ADR                            119390 non-null  float64
 23  RequiredCarParkingSpaces       119390 non-null  int64
 24  TotalOfSpecialRequests         119390 non-null  int64
 25  ReservationStatus              119390 non-null  object
 26  ReservationStatusDate          119390 non-null  object
 27  Hotel_City Hotel               119390 non-null  uint8
 28  Hotel_Resort Hotel             119390 non-null  uint8
 29  Meal_BB                        119390 non-null  uint8
 30  Meal_FB                        119390 non-null  uint8
 31  Meal_HB                        119390 non-null  uint8
 32  Meal_SC                        119390 non-null  uint8
 33  Meal_Undefined                 119390 non-null  uint8
 34  MarketSegment_Aviation         119390 non-null  uint8
 35  MarketSegment_Complementary    119390 non-null  uint8
 36  MarketSegment_Corporate        119390 non-null  uint8
 37  MarketSegment_Direct           119390 non-null  uint8
 38  MarketSegment_Groups           119390 non-null  uint8
 39  MarketSegment_Offline TA/TO    119390 non-null  uint8
 40  MarketSegment_Online TA        119390 non-null  uint8
 41  MarketSegment_Undefined        119390 non-null  uint8
 42  DistributionChannel_Corporate  119390 non-null  uint8
 43  DistributionChannel_Direct     119390 non-null  uint8
 44  DistributionChannel_GDS        119390 non-null  uint8
 45  DistributionChannel_TA/TO      119390 non-null  uint8
 46  DistributionChannel_Undefined  119390 non-null  uint8
 47  DepositType_No Deposit         119390 non-null  uint8
 48  DepositType_Non Refund         119390 non-null  uint8
 49  DepositType_Refundable         119390 non-null  uint8
 50  CustomerType_Contract          119390 non-null  uint8
 51  CustomerType_Group             119390 non-null  uint8
 52  CustomerType_Transient         119390 non-null  uint8
 53  CustomerType_Transient-Party   119390 non-null  uint8
dtypes: float64(5), int64(17), object(5), uint8(27)
memory usage: 28.6+ MB

In [51]:
pd.set_option("display.max_columns",None)
hotel_encoded.head()

,IsCanceled,LeadTime,ArrivalDate,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Country,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,Agent,Company,DaysInWaitingList,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,Hotel_City Hotel,Hotel_Resort Hotel,Meal_BB,Meal_FB,Meal_HB,Meal_SC,Meal_Undefined,MarketSegment_Aviation,MarketSegment_Complementary,MarketSegment_Corporate,MarketSegment_Direct,MarketSegment_Groups,MarketSegment_Offline TA/TO,MarketSegment_Online TA,MarketSegment_Undefined,DistributionChannel_Corporate,DistributionChannel_Direct,DistributionChannel_GDS,DistributionChannel_TA/TO,DistributionChannel_Undefined,DepositType_No Deposit,DepositType_Non Refund,DepositType_Refundable,CustomerType_Contract,CustomerType_Group,CustomerType_Transient,CustomerType_Transient-Party
0,0,342,2015-July,2015,6,27,1,0,0,2,0.0,0,135.0,0,0,0,2,2,3,0.0,0.0,0,103.529882,0,0,Check-Out,2015-07-01,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0
1,0,737,2015-July,2015,6,27,1,0,0,2,0.0,0,135.0,0,0,0,2,2,4,0.0,0.0,0,103.529882,0,0,Check-Out,2015-07-01,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0
2,0,7,2015-July,2015,6,27,1,0,1,1,0.0,0,59.0,0,0,0,0,2,0,0.0,0.0,0,75.000000,0,0,Check-Out,2015-07-02,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0
3,0,13,2015-July,2015,6,27,1,0,1,1,0.0,0,59.0,0,0,0,0,0,0,157.0,0.0,0,75.000000,0,0,Check-Out,2015-07-02,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0
4,0,14,2015-July,2015,6,27,1,0,2,2,0.0,0,59.0,0,0,0,0,0,0,103.0,0.0,0,98.000000,0,1,Check-Out,2015-07-03,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0

In [52]:
encoder = OrdinalEncoder()
reservation_array = encoder.fit_transform(hotel_encoded[['ReservationStatus']])
hotel_encoded = hotel_encoded.drop(columns='ReservationStatus')
hotel_encoded['ReservationStatus'] = reservation_array
hotel_encoded = hotel_encoded.astype({'ReservationStatus':'int64'})

In [53]:
hotel_encoded.to_csv("hotel_for_ML.csv", index=False)